/* root fontsize is 16px. 1rem = 16px*/

/* Google font imports for regular/bold (400/700) weights of the Space Mono and Trispace font families. */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Trispace:wght@400;700&display=swap');

/* --- General Styling --- */
html {
    scroll-padding-top: 2rem;
}

body {
    font-family: "Trispace", sans-serif;
    background-color: #06283D;
    margin: 0 15%;
}

.active {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
    color: #57BCFF
}

p,
a,
ul li {
    color: #DFF6FF;
}


.section-break {
    font-weight: 700;
    margin-top: 4rem;
}

.section-space {
    margin-top: 3rem;
}

/* --- Navbar --- */

.navbar,
.navbar-brand,
.nav-link {
    background-color: #06283D;
    color: #57bcfff3;
    letter-spacing: 1px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
}

/* --- Footer --- */

footer {
    margin-top: 5rem;
}

.footer-content h1 {
    font-size: 1.6rem;
}

.footer-content a,
.footer-content ul li {
    font-size: 1rem;
}

.footer-contact ul li a i {
    font-size: 1.2rem;
}

/* --- About Me --- */

img {
    object-fit: contain;
}

.about-info {
    margin: 1rem;
}

/* --------------------------- Resume */

.skill-set h1,
.work-history h1 {
    margin-bottom: 2.5rem;
}

.timeline {
    border-left: 1px solid #DFF6FF;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
    background-color: #DFF6FF;
    left: -2.4rem;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    content: "";
}

.timeline-item h1 {
    font-size: 1.5rem;
}

.skill-set-list li {
    margin-top: 1rem;
}


/* --------------------------- Projects */

.contact-link {
    text-decoration: none;
    color: #57BCFF
}

.project-heading {
    font-size: 1.5rem;
    margin: 1.6rem 0;
}

.project-text {
    text-align: center;
    padding: 2rem 0;
}

/* --------------------------- Contact  */
.center-form {
    max-width: 70%;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.center-form form label {
    color: #DFF6FF;
    padding-bottom: 0.4rem;
    padding-top: 0.9rem;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: #57BCFF;
    background-color: #06283D;
}

.btn:hover {
    background-color: #57BCFF;
    color: #06283D;
}


/* --------------------------- Media Queries */

/* If user is viewing on a device that has less than 320px of vertical width, the image will be hidden */

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    #logo {
        display: none !important;
    }

    #about-me-jump h2 {
        margin-top: 4rem;
    }
}

/* If user is viewing on a device that has less than 320px of horizontal height, the image will be hidden */

@media (max-height: 380px) {

    #logo {
        display: none !important;
    }

    #about-me-jump h2 {
        margin-top: 5rem;
    }
}

/* When Navbar is above 768px, margin-right of 100.33px is applied to offset navbar-brand element.*/

@media screen and (min-width: 768px) {
    .center-form {
        max-width: 40%;
    }
}

